sftpgo/.env
sftpgo/sftpgohome/sftpgo.db
libreoffice/.env
minio/.env
wordpress/.env
wordpress-blog/.env
nextcloud-libreoffice/.env
joxit-registry/registry-data/
joxit-registry/registry-config/htpasswd
mongodb/volume
innodb-cluster/volume1
innodb-cluster/volume2
innodb-cluster/volume3
innodb-cluster/volumesrouter
MeshCentral/meshcentral
MeshCentral/.env
mongodb/.env
zkteco/node_modules
domain-router/node_modules
mysql8/mysql8data
zimbra-dcoker-image/zcs-8.8.15_GA_4179.UBUNTU20_64.20211118033954
homer/
portainer/portainer_data
vaultwarden/vw-data
vaultwarden/syspass