services:
  php-apache:
    container_name: spweb-php-apache-production
    image: erte33/spweb-php74fpm-apache:production
    restart: always
    ports:
      - "${APACHE_PORT}:4447"
    volumes:
      - spweb-log-volume:/var/www/html/log/log_files
      - spweb-uploads-volume:/var/www/html/uploads
      - spweb-customreport-volume:/var/www/html/customReport/files
      - spweb-exportfiles-volume:/var/www/html/exportFiles
    env_file:
      - .env
    networks:
      - network1
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
networks:
  network1:
    name: sp_mysql_cluster
    external: true
volumes:
  spweb-log-volume:
  spweb-uploads-volume:
  spweb-customreport-volume:
  spweb-exportfiles-volume:
