#mysql
MYSQL_PORT= 4445
MYSQL_ROOT_PASSWORD= password
MYSQL_PASSWORD= password
MYSQL_USER= user

#rabbitmq
RABBITMQ_ERLANG_COOKIE= 1234
RABBITMQ_DEFAULT_USER= user
RABBITMQ_DEFAULT_PASS= password
RABBITMQ_UI_PORT= 4449

#mongodb
MONGO_EXPRESS_PORT=4448
ME_CONFIG_MONGODB_ENABLE_ADMIN= true
MONGODB_ROOT_USER= root
MONGODB_ROOT_PASSWORD= pass
MONGO_EXPRESS_USER= adm1n
MONGO_EXPRESS_PASSWORD= adm1n




