[mysqld]
log-bin=mysql-bin
expire_logs_days=7
binlog_format=ROW
server-id=1

skip-name-resolve
innodb_buffer_pool_size=32M
innodb_log_buffer_size=4M
max_connections=20
table_open_cache=128
tmp_table_size=16M
max_heap_table_size=16M
performance_schema=off
